.body-image-wrapper-1erlogo img {
    width: 400px;
    height: 250px;
}
.body-text1erlogo {
    background: white;
    margin-right: 50px;
    width: 30vw;
    padding: 20px;
    border-radius: 8px;
}

.body-image-wrapper-fibre img {
    width: 500px;
    height: 250px;  
    padding-right: 100px;
}
.body-textfibre {
    background: white;
    width: 30vw;
    padding: 20px;
    border-radius: 8px;
}

.body-image-wrapper-4g img {
    width: 500px;
    height: 250px;  
    padding-left: 100px;
}
.body-text4g {
    background: white;
    width: 30vw;
    padding: 20px;
    border-radius: 8px;
}

.body-image-wrapper-client img {
    width: 500px;
    height: 250px;  
    padding-right: 100px;
}
.body-textclient {
    background: white;
    width: 30vw;
    padding: 20px;
    border-radius: 8px;
}

.body-image-wrapper-durable img {
    width: 500px;
    height: 250px;  
    padding-left: 100px;
}
.body-textdurable {
    background: white;
    width: 30vw;
    padding: 20px;
    border-radius: 8px;
}

.body-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--body-content-padding);
    width: calc(100vw - var(--navbar-margin));
    margin: auto;
}

.body-content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--body-content-padding);
    width: calc(100vw - var(--navbar-margin));
    margin: auto;
}
.body-content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--body-content-padding);
    width: calc(100vw - var(--navbar-margin));
    margin: auto;
}
.body-content4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--body-content-padding);
    width: calc(100vw - var(--navbar-margin));
    margin: auto;
}
.body-content5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--body-content-padding);
    width: calc(100vw - var(--navbar-margin));
    margin: auto;
}

.body-content {
    width: 100%;
  }


