:root {
    --body-content-padding: 50px 0 50px 0;
    --navbar-height: 100px;
    --navbar-margin: 13vw;
    --bg-color: #473e5b;
    --text-color: #d58d91;
  }

h1{
    margin: auto;
    padding: auto;
}
.titre2g{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-right: 50px;
    width: 30vw;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
}
.titre3g{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-right: 50px;
    width: 30vw;
    padding: 20px;

}
.titre2d{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-left: 50px;
    width: 30vw;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
}
.titre3d{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-left: 50px;
    width: 30vw;
    padding: 20px;

}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main > h1 {
    background: var(--bg-color);
    width: max-content;
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
}

section.contnue_page {
    width: 100%;
    padding: 0 5rem;
    margin: 5rem 0;
}

section.contnue_page .body-text {
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 0px 0px 8px 8px;
}

section.contnue_page article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

section.contnue_page article:nth-child(2n) {
    flex-direction: row-reverse;
}

section.contnue_page article:nth-child(2n) .body-text {
    flex-direction: row-reverse;
    margin-right: 0;
    margin-left: 50px;
}

section.contnue_page article img {
    width: 30vw;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }